.section {
  &__left {
    grid-column: 2 / 6;
    justify-self: center;

    @media only screen and (max-width: 1024px) {
      grid-column: 2 / 14;
      grid-row: 1 / 2;
    }
  }

  &__right {
    grid-column: 6 / 14;

    @media only screen and (max-width: 1024px) {
      grid-column: 2 / 14;
      grid-row: 2 / 3;
    }
  }
}